.header-content {
    display: flex;
    height: 64px;
    padding: 0 1.5rem;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
}

.brand-logo {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

.brand-logo {
    // background-image: url('/logo.png');
    height: 40px;
    width: 45px;
}

.brand-name {
    line-height: 1;
    margin: 0;
    color: #434343;
}

@media (max-width: 625px) {
    .gamburgerMenu .s {
        display: none;
    }
}

.photo-panel .ant-collapse-content-box {
    padding: 0 !important;
}