.social-share-button-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: .5rem;
    list-style: none;
  }
  
  .social-share-button-list > * {
    margin-right: .5rem;
    margin-bottom: .5rem;
  }
  
  .social-share-button {
    display: flex;
  }
  
  .social-buttons{
    line-height: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
  }
  .social-buttons > span{
      padding-bottom: 10px;
  }
  .social-buttons .social-share-button-list{
    margin: 0;
  }

  .MainMenu{
      display: flex;

  }