.sub-header {
    display: flex;
    justify-content: flex-end;
    line-height: normal;
    padding: .5rem 1.5rem;
    overflow: hidden;
    background-color: #f5f5f5;
}

.doc-select.ant-select {
    width: 100%;
}

.doc-select.ant-select .ant-select-selector {
    border-bottom: 1px solid #d9d9d9 !important;
}

.doc-select.ant-select .ant-select-clear {
    background-color: transparent !important;
}

.doc-select.ant-select .ant-select-clear {
    opacity: 1 !important;
}

.doc-select.ant-select .ant-select-selection-placeholder {
    opacity: .8 !important;
    font-weight: 500 !important;
}

.doc-option-color {
    display: inline-block;
    width: .6rem;
    height: .6rem;
}
