.map-wrapper,
.map {
    width: 100%;
    height: 100%;
}

/* Cluster List Items */
.ymaps-2-1-77-b-cluster-tabs__menu-item-text,
.ymaps-2-1-78-b-cluster-tabs__menu-item-text,
.ymaps-2-1-79-b-cluster-tabs__menu-item-text  {
    color: rgba(0, 0, 0, 0.65) !important;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    font-weight: 600;
}

.ymaps-2-1-77-b-cluster-tabs__menu-item:hover .ymaps-2-1-77-b-cluster-tabs__menu-item-text,
.ymaps-2-1-78-b-cluster-tabs__menu-item:hover .ymaps-2-1-78-b-cluster-tabs__menu-item-text,
.ymaps-2-1-79-b-cluster-tabs__menu-item:hover .ymaps-2-1-79-b-cluster-tabs__menu-item-text {
    color: #ed1846 !important;
}

.ymaps-2-1-77-b-cluster-tabs__menu-item_current_yes,
.ymaps-2-1-78-b-cluster-tabs__menu-item_current_yes,
.ymaps-2-1-79-b-cluster-tabs__menu-item_current_yes {
    background-color: #fff1f0 !important;
}

.ymaps-2-1-77-b-cluster-tabs__menu-item_current_yes .ymaps-2-1-77-b-cluster-tabs__menu-item-text,
.ymaps-2-1-78-b-cluster-tabs__menu-item_current_yes .ymaps-2-1-78-b-cluster-tabs__menu-item-text,
.ymaps-2-1-79-b-cluster-tabs__menu-item_current_yes .ymaps-2-1-79-b-cluster-tabs__menu-item-text {
    color: #ed1846 !important;
}
