@import '~antd/dist/antd.less';

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  position: sticky;
  top: 0;
  height: auto;
  padding: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
  z-index: 100;
  background-color: white;
}

.content {
  position: relative;
  flex: 1 1;
  height: 100%;
  overflow: hidden;
}

.agitation-map {
  position: relative;
  width: 100%;
  height: 100%;
}

.footer {
  overflow-y: auto;
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 1.5rem;
  z-index: 1;
  box-shadow: 0 -1px 2px 0 rgba(0,0,0,.15);
  background-color: #f5f5f5;

  @media (min-width: 500px) {
    justify-content: center;
  }
}

.action-list {
  padding-left: 0;
  list-style: none;
  counter-reset: li;
}

.action-list li {
  display: flex;
  counter-increment: li;
}

.action-list li::before {
  content: counter(li);
  min-width: 1em;
  margin-right: 1rem;
  margin-top: -2px;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  color: #65A836;
}

.NavMenu .ant-drawer-content-wrapper{
  width: 40%!important;
  max-width: 350px;
}
@media (max-width: 625px){
  .NavMenu .ant-drawer-content-wrapper{
    width: 95%!important;
  }
}
